<form th:action="@{/login}" method="post" class="shadow-lg p-4 text-white login-card">

  <h1 class="login-title">🚀 DevOps Login</h1>

  <div class="form-group mt-3">
    <i class="fas fa-user"></i>
    <label for="username" class="pl-2 font-weight-bold m-lg-2">
      Kullanıcı Adı
    </label>

    <input type="email"
           name="username"
           id="username"
           class="form-control bg-transparent"
           placeholder="Email">
  </div>

  <div class="form-group mt-3">
    <i class="fas fa-key"></i>
    <label for="password" class="pl-2 font-weight-bold m-lg-2">
      Şifre
    </label>

    <input type="password"
           id="password"
           name="password"
           placeholder="Şifre"
           class="form-control bg-transparent">
  </div>

  <div class="d-grid gap-2 col-12 mx-auto">
    <button type="submit"
            class="login-button mt-3 shadow-sm">
      LOGIN
    </button>
  </div>

</form>